body{
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  background-color: rgb(233, 233, 233);
}

.header {
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
}

#title {
  margin: auto;
  padding: 40px;
  font-size: 80px;
  line-height: 1.2px;
}

#img-div {
  background-color: white;
  padding: 40px;
  text-align: center;
  margin: 20px;
}

#image {
  width: 50%;
  padding: 20px;
  display: block;
  margin: auto;
}

#tribute-info {
  font-size: 20px;
}


.cards{
  background: white;
  padding: 20px;
  margin: 20px;
}

#right {
  float: right;
  width: 30%;
}


#left {
  float:left;
  width: 70%;
}



#row:after {
  content: "";
  display: table;
  clear: both;
}

footer{
  padding: 20px;
  text-align: center;
  background: white;
  margin-top: 30px;
  font-size: 20px;
  margin: 20px;
}


.word {
  text-decoration: none;
  color: lightcoral;
}

.links{
  text-align: center;
}

.links a {
  text-align: center; /* Center-align text */
  vertical-align: middle;
  padding: 30px;
}

.links h3 {
  padding: 0px;
  margin: 0px;
  line-height: 0px;
}


#noborder td, #noborder th {
  border: none;
}


ol {
  padding-left: 20px;
}

.content h1{
  text-align: center;
}

@media screen and (max-width: 1500px) {
  #left, #right {
    width: 50%;
    padding: 0;
  }
  #title{
    font-size: 70px;
    font-style: bold;
  }
}


@media screen and (max-width: 900px) {
  #left, #right {
    width: 100%;
    padding: 0;
  }
  #title {
    font-size: 50px;
  }

  #name {
    display: none;
  }

  #dis {
    font-size: 20px;
  }

  #image {
    width: 100%;
  }

  #tribute-info {
    font-size: 17px;
  }
}
